@model BlogProjeKampı.Models.UserUpdateViewModel

@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/Writer_Layout.cshtml";
}
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/js/site.js"></script>*@

@using(Html.BeginForm("WriterEditProfile","Writer",FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazar Profil</h4>
                <p class="card-description"> Bilgiler </p>
                <br>
               
                    <div class="form-group">
                        <label for="exampleInputName1">Adı:</label>
                        <input type="text" asp-for="@Model.namesurname"  class="form-control">
                    </div>
                <div class="form-group">
                    <label for="exampleInputName1">Kullanıcı Adı:</label>
                    <input type="text" asp-for="@Model.username"  class="form-control">
                </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Mail Adresi</label>
                        <input type="text" asp-for="@Model.mail"  class="form-control">
                    </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Şifre:</label>
                    <input type="password" asp-for="@Model.password"  class="form-control">
                </div>
                  
                    <div class="form-group">
                        <label>Görsel</label>
                        <input type="file" asp-for="@Model.image"  class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-gradient-primary" type="button">Fotoğraf Seç</button>
                            </span>
                        </div>
                    </div>
                  
                    <button type="submit" class="btn btn-gradient-primary mr-2" >Gönder</button>
                   @* <script>
                        $("#alert").click((function)
                                            {
                                swal("Güncelleme!", "Bilgileriniz güncellenecektir.");
                            })
                    </script>*@
                    <button class="btn btn-light">Vazgeç</button>
              

            </div>
        </div>
    </div>
}


